{% load bootstrap4 %}
{% load static %}

<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock title %}</title>
    <title>Instagram / Post List</title>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <script src="{% static 'bootstrap.js' %}"></script>
    <script src="{% static 'jquery-3.5.1.js' %}"></script>
    <style>
        body {
            padding-top: 5rem;
            padding-bottom: 5rem;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="#">Home</a>
                    </li>

                    {%  if not user.is_authenticated %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:signup' %}">회원가입</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:login' %}?next={{ request.get_full_path }}">로그인</a>
                        </li>

                    {% else %}

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:profile' %}">프로필</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:logout' %}?next={{ request.get_full_path }}">로그아웃</a>
                        </li>

                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
{#                    <li class="nav-item dropdown">#}
{#                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"#}
{#                           aria-expanded="false">Dropdown</a>#}
{#                        <ul class="dropdown-menu" aria-labelledby="dropdown01">#}
{#                            <li><a class="dropdown-item" href="#">Action</a></li>#}
{#                            <li><a class="dropdown-item" href="#">Another action</a></li>#}
{#                            <li><a class="dropdown-item" href="#">Something else here</a></li>#}
{#                        </ul>#}
{#                    </li>#}
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div id="col-sm-12">
                {{ user }}
                {{ request }}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message.message }}
                        </div>
                    {% endfor %}
                {% endif %}

                {% bootstrap_messages %}
                {% block content %}
                {% endblock content %}

                <hr/>
                &copy; Ask Company.
            </div>
        </div>
    </div>
</body>
</html>

